art==5.2
astroid==2.6.2
blinker==1.4
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
emoji==1.2.0
Flask==2.0.1
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
isort==5.9.1
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mysqlclient==2.0.3
names==0.3.0
Pygments==2.9.0
pylint==2.9.3
rich==10.4.0
SQLAlchemy==1.4.20
toml==0.10.2
Werkzeug==2.0.1
wrapt==1.12.1
